body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #d9edf7;
    border-color: rgb(0 0 0 / 25%);
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

@media (min-width: 768px) .navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*Course layout*/
.course  {
    list-style: none;
    margin-top: 10px;
}
.course > li {
    position: relative;
    margin-bottom: 30px;
}
.course > li .date {
    text-align: center;
    background-color: #d9edf7;
    color: rgb(0 0 0 / 25%);
    width: 60px;
    border-radius: 8px;
}
.course > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}